.list {
  list-style: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* SECTION FIRST  */
.step-first {
  margin-bottom: 50px;
  padding-top: 21px;
  padding-bottom: 18px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/bg-mob-first.jpg");
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .step-first,
  .step-second,
  .step-third {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("../images/bg-mob-first@2x.jpg");
  }
}

@media screen and (min-width: 361px) {
  .step-first,
  .step-second,
  .step-third {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("../images/bg-tab-first.jpg");
  }
}

@media screen and (min-width: 361px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .step-first,
  .step-second,
  .step-third {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-tab-first@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .step-first {
    padding-top: 45px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 769px) {
  .step-first,
  .step-second,
  .step-third {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-desk-first.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .step-first,
  .step-second,
  .step-third {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-desk-first@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .step-first {
    position: relative;

    padding-top: 191px;
    padding-bottom: 191px;
  }
}

.container {
  max-width: 360px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .container-step-first {
    position: relative;
  }
}

.step-first .before-title {
  position: relative;
  z-index: 2;

  padding: 5px 15px 5px 8px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;

  width: 258px;
  line-height: 19.2px;

  border-radius: 40px;
  border: 1px solid #fff;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);

  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .step-first .before-title {
    margin-bottom: 20px;
    padding: 10px;

    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .step-first .before-title {
    padding: 16px 29px;

    font-size: 36px;
    line-height: 36px;

    width: 779px;
  }
}

.button-volume {
  position: absolute;
  right: 11px;
  top: 6px;

  padding: 0;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ec1119;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .button-volume {
    width: 52px;
    height: 52px;
  }
}

@media screen and (min-width: 1200px) {
  .button-volume {
    top: 48px;
    right: 74px;
  }
}

@media screen and (min-width: 768px) {
  .icon-volume {
    width: 32px;
    height: 32px;
  }
}

.title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;

  text-shadow: 0px 4px 20px rgba(255, 213, 54, 0.5);
  -webkit-text-stroke: 1px #ffffff;
  background-image: linear-gradient(130deg, #eb5d38 31.89%, #ffd600 92.03%);
  background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    position: relative;
    z-index: 2;

    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;

    max-width: 1100px;

    font-size: 84px;
    line-height: 109px;
  }
}

.step-first .after-title {
  position: relative;
  z-index: 2;

  margin-bottom: 207px;
  margin-right: auto;
  margin-left: auto;

  max-width: 308px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: #fff2ce;
}

@media screen and (min-width: 768px) {
  .step-first .after-title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 257px;

    max-width: 500px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .step-first .after-title {
    margin-bottom: 80px;

    max-width: 1100px;

    font-size: 28px;
    line-height: 39px;
    letter-spacing: 5.6px;
  }
}

.list-step-first {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .list-step-first {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
  }
}

.item-step-first {
  width: 330px;
}

@media screen and (max-width: 1199px) {
  .item-step-first:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-step-first {
    margin-left: auto;
    margin-right: auto;

    width: 450px;
  }
}

.link-first-step {
  padding-top: 15px;
  padding-bottom: 15px;

  display: block;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

.link-continue,
.link-next {
  border-radius: 10px;
  border: 1px solid transparent;
  background-image: linear-gradient(103deg, #ffe53b -32.17%, #ff2525 114.07%);
  box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 1200px) {
  .link-continue,
  .link-no-thanks,
  .link-next {
    font-size: 32px;
    line-height: 32px;
  }
}

.link-no-thanks {
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 10px;
  border: 1px solid #fff;

  box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.4);
}

.girl-step-first {
  position: absolute;
  bottom: -18px;
  right: 0;
}

@media screen and (max-width: 767px) {
  .girl-step-first {
    transform: translateX(-25%);
  }
}

@media screen and (min-width: 768px) {
  .girl-step-first {
    bottom: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .girl-step-first {
    bottom: 0;
    right: 22px;
  }
}

@media screen and (max-width: 767px) {
  .woman-step-first {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .woman-step-first {
    position: absolute;
    left: -15px;
    bottom: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .woman-step-first {
    bottom: 0;
    left: 70px;
  }
}

/* SECTION SECOND  */
.step-second {
  padding-top: 21px;
  padding-bottom: 32px;
  margin-bottom: 50px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .step-second {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .step-second {
    position: relative;

    padding-top: 35px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .container-step-second {
    position: relative;
  }
}

.title.second {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .title.second {
    max-width: 308px;
  }
}

@media screen and (max-width: 1199px) {
  .title.second {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title.second {
    max-width: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .title.second {
    margin-bottom: 45px;

    font-size: 54px;
    line-height: 76.8px;
  }
}

.button-volume.second {
  top: 5px;
  right: 11px;
}

@media screen and (min-width: 1200px) {
  .button-volume.second {
    top: 48px;
    right: 74px;
  }
}

.wrapper-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-arrows{
  width: 51px;height: 45px;
}

.wrapper-blur {
  padding: 22px 27px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  width: 225px;
  height: 278px;

  border-radius: 20px;
  border: 1px solid #fff;

  background-color: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(5px);
}

@media screen and (min-width: 768px) {
  .wrapper-blur {
    padding-right: 54px;
    padding-left: 54px;

    width: 400px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-blur {
    padding-right: 71px;padding-left: 71px;
    margin-bottom: 57px;

    width: 463px;
    height: 524px;
  }
}

.wrapper-img-second {
  margin-bottom: 10px;

  border-radius: 20px;
  overflow: hidden;
}

.step-second .sub-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .step-second .sub-title {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .step-second .sub-title {
    font-size: 32px;
    line-height: 38.4px;

    will-change: transform;
  }
}

.step-second .link-next,
.step-third .link-continue {
  position: relative;

  margin-right: auto;
  margin-left: auto;

  max-width: 330px;

  display: block;
  text-align: center;

  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .step-second .link-next {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .step-second .link-next {
    padding-top: 20px;
    padding-bottom: 20px;

    max-width: 463px;
  }
}

/* SECTION THIRD  */
.step-third {
  padding-top: 21px;
  padding-bottom: 30px;

  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width:768px) {
  .step-third {
    padding-bottom: 100px;
    padding-top: 150px;
  }
}

@media screen and (min-width:1200px) {
  .step-third {
position: relative;

    padding-bottom: 258px;
    padding-top: 257px;
  }
}

@media screen and (max-width: 1199px) {
  .container-third {
    position: relative;
  }
}

.title-third {
  margin-bottom: 10px;

  font-size: 48px;
  line-height: 44px;
}

@media screen and (min-width:768px) {
  .title-third {
margin-bottom: 60px;

    max-width: 585px;
   font-size: 70px;
  }
}

@media screen and (min-width:1200px) {
  .title-third {
margin-bottom: 40px;

font-size: 120px;
line-height: 120px;
  }
}

.button-volume.third {
  top: 8px;
  right: 11px;
}

@media screen and (min-width:1200px) {
 .button-volume.third {
  top: 48px;
  right: 82px;
}
}

.text-third {
position: relative;
z-index: 2;

  margin-bottom: 309px;

  max-width: 308px;
  margin-right: auto;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
}

@media screen and (min-width:1200px) {
  .text-third{
margin-bottom: 120px;

max-width: 785px;
    font-size: 32px;
line-height:  44.8px;
  }
}

.wrapper-glasses {
  position: absolute;
  bottom: -30px;
  left: 0;

  transform: translateX(14%);
}

@media screen and (min-width: 768px) {
 .wrapper-glasses{
bottom: -100px;
transform: translateX(0);
 }
}

@media screen and (min-width: 1200px) {
 .wrapper-glasses{
bottom: 0;
left: 48px;
 }
}

@media screen and (max-width: 767px) {
  .step-third .wrapper-pajamas {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .step-third .wrapper-pajamas {
   position: absolute;
   bottom: -100px;
   right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .step-third .wrapper-pajamas {
   bottom: 0;
   right: 35px;
  }
}

.step-third .link-continue.third{
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .step-third .link-continue.third{
padding-top: 25px;padding-bottom: 25px;

max-width: 463px;
}
}

